<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/index.css">
        <link rel="stylesheet" href="../style/form.css">
        <title>elxgo - Create New Food</title>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <h1 class="text-center">MENU</h1>
                <hr>
                <div class="card-body">
                    <div class="form-style-2">
                        <form action="/menu/create" method="post">
                            <label for="name">
                                <span>Name <span class="required">*</span></span>
                                <input type="text" class="input-field" name="name" id="name" required/>
                            </label>
                            <label for="price">
                                <span>Price <span class="required">*</span></span>
                                <input type="text" class="input-field" name="price" id="price" required/>
                            </label>
                            <label for="category"><span>Category</span>
                                <% puts 'categories' %>
                                <% puts categories.empty? %>
                                <% if !categories.empty? %>
                                    <% categories.each do |category| %>
                                        <input type="checkbox" name="category_id[]" value="<%= category.id %>"><%= category.name %><br/>
                                    <% end %>
                                <% else %>
                                    No categories
                                <% end %>
                            </label>
                            <label for="description"><span>Description</span>
                                <textarea name="description" class="textarea-field"></textarea>
                            </label>
                            <div class="submit">
                                <a href="/" class="btn"> Cancel</a>
                                <input type="submit" value="Add" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <a href='https://www.freepik.com/photos/background'>Background photo created by freepik - www.freepik.com</a>
    </footer>
</html>