<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../../style/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <title>elxgo - Detail Order</title>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <h1 class="text-center">DETAIL ORDER</h1>
                <hr>
                    <div class="menu">
                        <a href="/menu"> Menu</a>
                        <a href="/category"> Category</a>
                        <a href="/customer"> Customer</a>
                        <a href="/cart"> <i class="fas fa-shopping-cart"></i></a>
                    </div>
                <hr>
                <div class="card-body">
                    <h3>Orders</h3>
                    <table border=1 style="width: -webkit-fill-available;">
                        <% number = 0 %>
                        <% unless orders.empty? %>
                            <tr>
                                <td>No.</td>
                                <td>Name</td>
                                <td>Quantity</td>
                                <td>Total Price</td>
                            </tr>
                            <% orders.each do |order| %>
                                <tr>
                                    <td><%= number += 1 %></td>
                                    <td><%= order.name %></td>
                                    <td><%= order.description %></td>
                                    <td><%= order.price %></td>
                                </tr>
                            <% end %>
                        <% else %>
                            <tr><td>No order avaliable!</td></tr>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <a href='https://www.freepik.com/photos/background'>Background photo created by freepik - www.freepik.com</a>
    </footer>
</html>