<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>electivesxgoacademy</title>
</head>
<body>
    <h1 style ="background-color:<%= color %>;">Hello <%= name %>!</h1>
    <p> this is more beautiful </p>
</body>
</html>