<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>elxgo - List Custimer</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h1 class="text-center">CUSTOMER</h1>
            <hr>
                <div class="menu">
                    <a href="/menu"> Menu</a>
                    <a href="/category"> Category</a>
                    <a href="/customer"> Customer</a>
                </div>
            <hr>
            <div class="card-body">
                <table class="table-styled">
                    <tbody>
                        <tr>
                            <td><a href="/customer/new" class="btn"> + add customer</a></td>
                        </tr>
                    <% unless customers.nil? %>
                        <% customers.each do |customer| %>
                            <tr>
                                <td class="td-name">
                                    <div class="title"><a href="/customer/<%= customer.id %>/show"><%= customer.name %></a></div>
                                </td>
                                <td><a href="/customer/<%= customer.id %>/edit" class="btn"><i class="fa fa-edit"></i></a></td>
                                <td><a href="/customer/<%= customer.id %>/delete" class="btn"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        <% end %>
                    <% else %>
                        <tr><td>No customer avaliable!</td></tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<footer>
    <%# <a href='https://www.freepik.com/photos/background'>Background photo created by freepik - www.freepik.com</a> %>
</footer>
</html>