<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/index.css">
        <link rel="stylesheet" href="../style/form.css">
        <title>elxgo - Create New Category</title>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <h1 class="text-center">Create New Category</h1>
                <hr>
                <div class="card-body">
                    <div class="form-style-2">
                        <form action="/category/create" method="post">
                            <label for="name">
                                <span>Name <span class="required">*</span></span>
                                <input type="text" class="input-field" name="name" id="name" />
                            </label>
                            <div class="submit">
                                <a href="/menu" class="btn"> Cancel</a>
                                <input type="submit" value="Add" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <a href='https://www.freepik.com/photos/background'>Background photo created by freepik - www.freepik.com</a>
    </footer>
</html>