<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/index.css">
        <link rel="stylesheet" href="../style/form.css">
        <title>elxgo - Create New Food</title>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <h1 class="text-center">Create New Food</h1>
                <hr>
                <div class="card-body">
                    <div class="form-style-2">
                        <form action="/new_food" method="post">
                            <label for="name">
                                <span>Name <span class="required">*</span></span>
                                <input type="text" class="input-field" name="name" id="name" />
                            </label>
                            <label for="price">
                                <span>Price <span class="required">*</span></span>
                                <input type="text" class="input-field" name="price" id="price" />
                            </label>
                            <label for="category"><span>Category</span><select name="category_id" class="select-field">
                                <% categories.each do |category| %>
                                    <option value="<%= category.id %>"><%= category.name %></option>
                                <% end %>
                                </select>
                            </label>
                            <label for="description"><span>Description</span>
                                <textarea name="description" class="textarea-field"></textarea>
                            </label>
                            <div class="submit">
                                <a href="/" class="btn"> Cancel</a>
                                <input type="submit" value="Add" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <a href='https://www.freepik.com/photos/background'>Background photo created by freepik - www.freepik.com</a>
    </footer>
</html>