<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta HTTP-EQUIV="REFRESH" content="3; url=/">
    <link rel="stylesheet" href="<%= url("style/index.css") %>">
    <title>elxgo - List food</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
            <hr>
                <h1><%= message %></h1>
                Redirect to main page in few second...
            <hr>
            </div>
        </div>
    </div>
</body>
<footer>
    <%# <a href='https://www.freepik.com/photos/background'>Background photo created by freepik - www.freepik.com</a> %>
</footer>
</html>