<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/index.css">
        <link rel="stylesheet" href="../style/form.css">
        <title>Homework 1 - Edit Food</title>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <h1 class="text-center">Edit Food</h1>
                <hr>
                <div class="card-body">
                    <div class="form-style-2">
                        <form action="../index.html" method="post">
                            <label for="name">
                                <span>Name <span class="required">*</span></span>
                                <input type="text" class="input-field" name="name" id="name" />
                            </label>
                            <label for="price">
                                <span>Price <span class="required">*</span></span>
                                <input type="text" class="input-field" name="price" id="price" />
                            </label>
                            <label for="vegan"><span>Vegan</span><select name="vegan" class="select-field">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                                </select></label>
                            <label for="tags">
                                <span>Tags</span>
                                <input type="text" class="input-field" name="tags" id="tags" />
                            </label>
                            <label for="description"><span>Description</span>
                                <textarea name="description" class="textarea-field"></textarea>
                            </label>
                            <label for="picture"><span> Upload Picture</span>
                                <input type="file" id="picture" name="picture">
                            </label>
                            <div class="submit">
                                <input type="submit" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <a href='https://www.freepik.com/photos/background'>Background photo created by freepik - www.freepik.com</a>
    </footer>
</html>